<div class="widget">
  <button (click)="editQuery()" class="edit-button" mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
  <br>

  <ng-container *ngIf="widgetType === 'score-card'">
    {{ widgetTitle }}
    <br>
    <ng-container *ngIf="savedParamList && savedParamList.length > 0">
      <div *ngFor="let param of savedParamList">
        <label [for]="param.paramName">{{ param.paramName }}</label>
        <input [id]="param.paramName" [type]="param.paramType.toLowerCase()"/>
      </div>
    </ng-container>
    <ng-container *ngIf="savedSummaryList && savedSummaryList.length">
      <div>
        <label for="from-date">From Date</label>
        <input [(ngModel)]="fromDate" id="from-date" type="datetime-local"/>
      </div>
      <div>
        <label for="to-date">To Date</label>
        <input [(ngModel)]="toDate" id="to-date" type="datetime-local"/>
      </div>
    </ng-container>
    <app-summary-card [dataSet]="summaryDataSet"></app-summary-card>
  </ng-container>

  <ng-container *ngIf="widgetType === 'column-chart'">
    This is a {{ widgetType }}
    <app-column-chart></app-column-chart>
  </ng-container>

  <ng-container *ngIf="widgetType === 'pie-chart'">
    This is a {{ widgetType }}
    <app-pie-chart></app-pie-chart>
  </ng-container>

</div>
