/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.widgets-container {
  display: flex;
  justify-content: space-around;
}

.widget {
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 600px; /* Adjust width as necessary */
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.summary-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-line h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.summary-line p {
  margin: 0 0 0 5px;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.my-custom-modal .modal-dialog {
  max-width: 90%; /* Adjust the width as needed */
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 14px;
  margin: 5px;
}

